@import "../animations.scss";

$boxSize: 300px;
$opacity: 0.25;
$orange: #fac79f;
$blue: #425e7a;
$red: #e22d28;

.box {
  width: $boxSize;
  height: $boxSize;
  position: relative;
  opacity: $opacity;
  flex-shrink: 0;
  transition: transform 3s;

  div {
    position: absolute;
  }

  .box-00 {
    width: 38.2%;
    height: 38.2%;
    top: 0px;
    left: 0px;
    background-color: $orange;
  }
  
  .box-narrow {
    width: 1.5%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background-color: $orange;
  }
  
  .box-10 {
    width: 19.1%;
    height: 19.1%;
    top: 0px;
    right: 0px;
    background-color: $blue;
  }
  
  .box-01 {
    width: 19.1%;
    height: 19.1%;
    bottom: 0px;
    left: 19.1%;
    background-color: $blue;
  }
  
  .box-11 {
    width: 61.8%;
    height: 61.8%;
    bottom: 0px;
    right: 0px;
    background-color: $red;
  }
  
  .box-line {
    width: 80.9%;
    height: 80.9%;
    bottom: 0px;
    right: 0px;
    border-top: 8px solid $blue;
    border-left: 8px solid $blue;
  }
}

.rotate {
  transform: rotate(90deg);
}

.box0 {
  @include animation(fadeIn);
}

@keyframes fadeIn {
  0% {opacity: 0}
  50% {opacity: 0.4}
  100% {opacity: $opacity}
}

.box1 {
  @include animation(rollIn);
  transform: rotate(180deg);
}

.box2 {
  @include animation(slideIn);
  transform: rotate(90deg);
}

.box3 {
  @include animation(scaleIn);
  transform: rotate(270deg);
}