@import '../global.scss';

.content {
  .imgWrapper {
    flex-shrink: 0;
    overflow: hidden;
    @extend %xCenter;
    border: 1px solid $shadow;

    @media screen and (min-width: $mid-breakpoint) {
      width: 50%;
    }
  }

  @media screen and (min-width: $mid-breakpoint) {
    display: flex;
  }
}