@import '../global.scss';

.content {
  .img-wrapper {
    flex-shrink: 0;
    overflow: hidden;
    @extend %xCenter;

    @media screen and (min-width: $mid-breakpoint) {
      width: 50%;
    }
  }

  .text {
    p {
      margin: $standard-margin 0;
    }

    h3 {
      @extend p;
    }
  }

  @media screen and (min-width: $mid-breakpoint) {
    display: flex;
    .text {padding: $standard-padding;}
  }
}