#background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#background .row {
  display: flex;
  justify-content: center; }

header, main section {
  background-image: linear-gradient(to bottom right, transparent, rgba(0, 0, 0, 0.05)); }

main section h3 {
  font-family: "Georgia", serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #99080f; }

.noAnimate > * {
  animation: none; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideInRight {
  from {
    transform: translateX(500px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

@keyframes rollIn {
  0% {
    transform: translateX(300px) rotate(90deg);
    opacity: 0; }
  to {
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@keyframes slideIn {
  0% {
    transform: translateX(-500px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes scaleIn {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

html, body {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  min-width: 325px; }

body {
  background-color: #fcfaf9;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #2c2934; }

header {
  border: 3px solid #99080f;
  box-shadow: 0 0 2px #99080f;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgba(255, 255, 255, 0.95);
  color: #99080f;
  font-size: 24px;
  font-family: "Georgia", serif;
  z-index: 10;
  overflow: hidden; }
  @media screen and (max-width: 550px) {
    header {
      border-left: none;
      border-right: none; } }
  header #heading-content {
    position: relative;
    max-width: 960px;
    margin: 0 auto; }
    header #heading-content span {
      display: inline-block;
      padding: 10px 16px;
      animation: slideInRight;
      animation-duration: 2.5s;
      animation-fill-mode: both;
      animation-timing-function: ease-out; }
    header #heading-content #myName {
      background-color: #99080f;
      color: #fcfaf9;
      margin: 8px 0 0 8px;
      font-weight: 700; }

main {
  margin: 0 auto;
  max-width: 960px; }
  main section {
    border: 3px solid #99080f;
    box-shadow: 0 0 2px #99080f;
    box-sizing: border-box;
    margin: 34px 0;
    padding: 10px 16px;
    background-color: rgba(255, 255, 255, 0.95); }
    @media screen and (max-width: 550px) {
      main section {
        border-left: none;
        border-right: none; } }
  @media screen and (min-width: 550px) {
    main {
      width: 90%; } }

.text p, .text h3 {
  margin: 16px 0; }

#background {
  position: fixed;
  overflow: hidden;
  z-index: -10;
  background-color: #e7e7e6; }
  @media screen and (min-width: 1080px) {
    #background {
      left: 24px;
      right: 24px; } }
