@mixin animation($name) {
  animation: $name;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.noAnimate > * {
  animation: none;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes slideInRight {
  from {transform: translateX(500px); opacity: 0;}
  to {transform: translateX(0); opacity: 1}
}

@keyframes rollIn {
  0% {transform: translateX(300px) rotate(90deg); opacity: 0}
  to {transform: translateX(0) rotate(0deg); opacity: 1}
}

@keyframes slideIn {
  0% {transform: translateX(-500px); opacity: 0}
  100% {transform: translateX(0); opacity: 1}
}

@keyframes scaleIn {
  from {transform: scale(0)}
  to {transform: scale(1)}
}